.container-pop-up-office {
    background-color: #FAFCFF;
    position: fixed;
    top: 50%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: 1002;
    width: 40vw;
    height: 75vh;
    visibility: hidden;
    transition: all 0.2s ease-in;
    padding: 2% 5%;
    border-radius: 10px;
}

.header-pop-up-office {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    width: 100%;
    padding-bottom: 2%;
}

.header-pop-up-office h1 {
    font-size: 150%;
    font-weight: 700;
    color: #FF5C72;
}

.off-pop-up-office {
    height: 100%;
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: right;
}

.off-pop-up-office svg {
    width: 35%;
    aspect-ratio: 1;
    cursor: pointer;
}

.body-pop-up-office {
    width: 100%;
    height: 80%;
    display: flex;
}

.tasks-list {
    box-shadow: #234d8769 0px 1px 4px;
    padding: 2% 5%;
    margin-top: 1%;
    height: 100%;
    width: 100%;
    overflow-y: scroll;
    border-radius: 10px;
}

.new-task {
    color: #234C87;
    font-weight: 700;
    padding: 3% 2% 1% 2%;
    border-bottom: solid #234C87 2px;
    font-size: 80%;
    cursor: pointer;
}

.task-chosen {
    color: #FF5C72 !important;
}

.task-percentage {
    width: 30%;
    margin-left: 2%;
    box-shadow: #234d8769 0px 1px 4px;
    padding: 2% 5%;
    margin-top: 1%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.percentage-off {
    display: none;
}

.percentage-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.percentage-input p {
    color: #234C87;
    font-weight: 700;
    font-size: 130%;
}

.percentage-input-holder {
    padding: 8%;
    width: 50%;
    aspect-ratio: 1;
    box-shadow: #234d8769 0px 1px 4px;
    border-radius: 1000px;

}

.percentage-input input {
    padding: 2%;
    width: 100%;
    aspect-ratio: 1;
    background-color: #FAFCFF;
}

.confirm-btn-office {
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: right;
    align-items: flex-end;
}

.confirm-btn-office button {
    background-color: #FAFCFF;
    border: #FF5C72 solid;
    padding: 1% 3%;
    border-radius: 1000px;
    color: #FF5C72;
    cursor: pointer;
    font-weight: 700;
    transition: all 0.1s ease-in-out;
}

.cover-task {
    color: #234C87;
    font-weight: 700;
    padding: 3% 2% 1% 2%;
    border-bottom: solid #234C87 2px;
    font-size: 80%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

.members-board {
    width: 80%;
    margin-left: 2%;
    box-shadow: #234d8769 0px 1px 4px;
    padding: 2% 5%;
    margin-top: 1%;
    height: 100%;
    overflow-y: scroll;
    border-radius: 10px;
}

.board-name {
    color: #234C87;
    font-weight: 700;
    margin-bottom: 2%;
}

.members-list {}

.member-name-office {
    color: #234C87;
    font-weight: 700;
    padding: 3% 2% 1% 2%;
    border-bottom: solid #234C87 2px;
    font-size: 80%;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}